---
import List from "../components/List.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section>
    <article>
      <List client:visible />
    </article>
  </section>
</Layout>
