---
import Header from "../components/header/Header";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen max-w-lg md:max-w-lg lg:max-w-xl p-3 mx-auto flex flex-col justify-center items-center"
  >
    <Header client:visible />

    <main class="mt-5 min-w-full">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  * {
    user-select: none;
    web-kit-user-select: none;
    -moz-user-select: none;
  }

  html {
    font-family: system-ui, sans-serif;
    color-scheme: dark light;
  }
</style>
